@media screen and (min-width:960px){
    .inner_search{
    text-align: center;
    input{
      height: 30px;
      width: 260px;
      border-radius: 10px;
      border: 2px solid #bfcbd9;
      outline:medium;
      text-indent:5px;
    }
    
    button{
      height: 35px;
      width: 80px;
      margin-left: 30px;
      font-size: 15px;
      background-color: rgb(77, 179, 255);
      border-radius: 5px;
      // outline:none;
      white-space: nowrap;
      cursor: pointer;
      border: 1px solid #bfcbd9;
      font-family: "微软雅黑";
      color: white
    }
    div{
      margin-top: 5px;
      text-align: center;
      span{
        margin-right: 5px;
        a{
          color:rgb(105, 226, 50)
        }
        sup{
          display: none;
        }
        &:hover{
          sup{display: inline;color: red}
        }
      }
    }
  }
}

@media screen and (min-width:300px) and (max-width:959px){
  .inner_search{
    text-align: center;
    input{
      height: 25px;
      width: 230px;
      border-radius: 8px;
      border: 2px solid #bfcbd9;
      outline:medium;
      text-indent:5px;
      font-size: 10px;
    }
    
    button{
      height: 30px;
      width: 60px;
      margin-left: 10px;
      font-size: 12px;
      background-color: rgb(77, 179, 255);
      border-radius: 5px;
      // outline:none;
      white-space: nowrap;
      cursor: pointer;
      border: 1px solid #bfcbd9;
      font-family: "微软雅黑";
      color: white
    }
    div{
      margin-top: 5px;
      text-align: center;
      span{
        margin-right: 5px;
        a{
          color:rgb(105, 226, 50)
        }
        sup{
          display: none;
        }
        &:hover{
          sup{display: inline;color: red}
        }
      }
    }
  }
}
